.h1_title__voting {
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.container__voting {
    margin-top: -80px;
}

.row__voting {
    background: linear-gradient(to right, #8ecdf2, #1aa1ef);
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    padding: 5px;
}
.voting__form {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #333;
    line-height: 1.6;
    border-radius: 10px;
}

.grid_container_social__network {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* word-wrap: break-word; */
    margin-left: 5px;
}

.container__personalinfo {
    margin-top: 5px;
}

.container__checkbox {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.container__availdays {
    margin-bottom: 5px;
}

.voting_form__btn {
    margin: 25px auto 0 auto;
    display: block;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border: #fff;
}

.voting_form__btn:hover{
    background-color: darkblue;
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

.voting_form__btn__disabled {
    margin: 0 auto;
    display: block;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 20px;
    border: #fff;
}

.votingSelect {
    word-wrap: break-word;
}

.voting__label {
    font-size: 12px;
}

.description__voting {
    margin-top: 10px;
}

label.rel__form {
    word-break: break-all;
}

@media (max-width: 600px) {
    .container__voting,
    .volunteer__project.volunteer__project__floating.voting__label ,
    .volunteer__finding__source {
        word-break: break-all;
    }
}
