.form-donate {
    margin-top: 120px;
    width: 60%;
    background: linear-gradient(to right, #8ecdf2, #1aa1ef);
    border-radius: 20px;
    height: auto;
    overflow: hidden;
    padding: 10px;
}

.form-donate-text {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

.form-donate-info {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

.form-info-detail {
    width: 80%;
    height: 100%;
    background-color: transparent;
}

.info-text {
    color: rgba(0,0,0,.9);
    font-size: 19px;
    font-weight: 400;
}

.form-floating {
    width: 100%;
    /* Ensure the form controls take full width */
}

.form-floating textarea {
    resize: vertical;
    /* Allow vertical resizing */
    overflow-y: auto;
    /* Enable vertical scrollbar if needed */
}

.form-info-btn {
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    font-family: "JetBrains Mono",monospace;
    border-radius: 8px;

}
.form-info-btn:focus{
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;

}

.form-info-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.form-info-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.background-icon-big{
    position: relative;
}
.background-icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 5%;
    height: 100%;
    background-color: #dadde0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.info-anonymous{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
}
.info-anonymous-move{
    position: absolute;
    right: 0;
}
.text-anonymous{
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}
.req{
    font-size: 25px;
    color: red;
}
.hide-name-info{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
}
.hide-text{
    width: 80%;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    margin-left: 20px;
}
.pop-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 3;
}
.popup-success {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px #ccc;
    border-radius: 20px;
    transform-origin: center;
    text-align: center;

    animation: scale 0.5s ease-in-out;
}
.popup-success h2{
    color: red;
}

@keyframes scale {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
.exit-none{
    display: none;
}
.exit{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}
.icon-succes{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: red;
}
.icon-succes i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    border: 2.5px solid #fff;
    animation: run 1s ease-in;

}
@keyframes run {
    0%{
        transform: rotate(0deg);
    }
    100%{
        border: 2.5px solid #fff;
        transform: rotate(360deg);

    }
}
.container-change-password-notification{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}
.container-error-notification{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}
.showAlert{
    display: block;
}
.container-change-password-notification,
.status-error{
    background: white;
    border: 2px solid #2d63c2;
    border-radius: 20px;
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
    overflow: hidden;
}
.container-change-password-notification p{
    position: absolute;
    top: 28%;
    left: 28%;
    color: green;
}
.status-error p{
    position: absolute;
    top: 28%;
    left: 28%;
    color: red;
}
.exit-alert-btn{
    /* display: flex;
    justify-content: flex-end; */
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 12;
    /* font-size: 20px;
    color: #2d63c2;
    cursor: pointer; */
}
.exit-alert-btn i{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #2d63c2;
    cursor: pointer;
}
.img-alert{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35%;
}
.text-error{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
    color: #000;
}
.popupbutton{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: transparent;
}
.popupbutton .btn-popup{
    width: 80%;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
