body{
    background: white;
    overflow-x: hidden;
}

.nav3{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom ,#ffffff, #78a9e9);
    color: #245abe;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8px;
}
.container2{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}


.textform{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
}
.formall{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 700px;
    max-height: fit-content;
    background: linear-gradient(to right ,#8ecdf2, #1aa1ef);
    justify-content: center;
    border-radius: 20px;
}

.textandanh3{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.project{
    width: 80%;
    height: 40px;
    margin: -20px 0;
}
.p2{
    margin-top: -50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.formall h2{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    height: 50px;
}
.setinput{
    height: 100%;
}
.textten{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.textten2{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dd-selected{
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.dd-option-image, .dd-selected-image{
    max-width: 50px;
}
.dd-selected-text:hover, .dd-selected:hover{
    color: black;
}
.dd-option{
    text-align: center;
    height: 50px;
}