.textusers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}
.textusers p{
    font-size: 23px;
    font-weight: 600;
}
.btn-search{
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #29B6F6;
    border-style: none;
}
.textusers input{
    border-style: none;
    border-style: none;
    background-color: #ffffff;
    border-radius: 20px;
    text-indent: 20px;
}
.form-table{
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
}
table thead tr td:first-child{
    border-top-left-radius: 20px;
}
table thead tr td:nth-child(5){
    border-top-right-radius: 20px;
}
/* serachinput */
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right:  10px; /* Điều chỉnh khoảng cách từ biểu tượng đến lề trái của container */
    top: 50%;
    transform: translateY(-50%);
    color: #555; /* Màu của biểu tượng */
}
.icon{
    margin-left: 20px;
}