@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* notification */
.container-change-password-notification{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}
.container-error-notification{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}
.showAlert{
    display: block;
}
.container-change-password-notification,
.status-error{
    background: white;
    border: 2px solid #2d63c2;
    border-radius: 20px;
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
    overflow: hidden;
}
.container-change-password-notification p{
    position: absolute;
    top: 28%;
    left: 28%;
    color: green;
}
.status-error p{
    position: absolute;
    top: 28%;
    left: 28%;
    color: red;
}
.exit-alert-btn{
    /* display: flex;
    justify-content: flex-end; */
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 12;
    /* font-size: 20px;
    color: #2d63c2;
    cursor: pointer; */
}
.exit-alert-btn i{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #2d63c2;
    cursor: pointer;
}
.img-alert{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35%;
}
/* popup change password form */
.popup-change-password-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100vh;
    z-index: 10;
    display: none;
}
.showChangePassword{
    display: block;
}

.change-password-popup{
    /* background: linear-gradient(to bottom, #245abe, #95b5df); */
    background: #2d63c2;
    border: 2px solid white;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 60%;
    overflow: hidden;
}
.exit-change-password-btn{
    width: fit-content;
    position: absolute;
    top: 3%;
    right: 3%;
}
.exit-change-password-btn i{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: white;
    cursor: pointer;
    z-index: 12;
}
.change-password-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    overflow: hidden;
    z-index: 20;
}
.change-password-form-title{
    font-size: 1.5rem;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
}
.change-password-input-field{
    max-width: 380px;
    width: 100%;
    height: 45px;
    background-color: white;
    margin: 15px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    /* padding: -0.6rem; */
}
.change-password-input-field i{
    text-align: center;
    line-height: 26px;
    color: #acacac;
    font-size: 1.1rem;
    padding-top: 10px;
}
.change-password-input-field .eye{
    width: fit-content;
    position: relative;
    top: -125%;
    left: 595%;
}
.change-password-input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    padding-right: 38px;
}
.change-password-input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.change-password-input-field small {
    margin-top: 45px;
    color: rgb(255, 255, 255);
    position: absolute;
    /* bottom: -20px; */
    /* left: 20%; */
    visibility: hidden;
    font-size: 12px;
}
.change-password-input-field.error small {
    visibility: visible;
}
.btn{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 50px 0;
    transition: .5s;
}
.btn:hover{
    background-color: #4d84e2;
}
/* @media (max-width: 1170px) {
    .change-password-form-title{
        font-size: 1.2rem;
    }
} */
@media (max-width: 1040px) {
    .change-password-form-title{
        font-size: 1.1rem;
    }
}
@media (max-width: 1024px) {

    .popup-change-password-container{
        display: none;
    }
}

/* popup profile dropdown */
.popup-profile-container{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.showProfileDropdown{
    /* display: block; */
    max-height: 100vh;
}
.modal-inner{
    width: 100%;
    height: 100%;
    position: fixed;
    filter: opacity(0.6);
}
.profile-popup{
    position:absolute;
    top: 8%;
    right: 0;
    width: 280px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .open-popup-profile{
    max-height: 300px;
} */
.profile-menu{
    background: linear-gradient(to top, #245abe, #95b5df);
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
}
.user-info{
    display: flex;
    align-items: center;
    color: white;
}

.user-info img{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
} 
.user-info h3{
    font-weight: 500;
}
.profile-menu hr{
    border: 0;
    height: 3px;
    width: 100%;
    background: white;
    margin: 7px 0 5px;
}
.profile-menu-link{
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 6px 0;
    
}
.profile-menu-link i{
    /* width: 40px; */
    background: white ;
    border-radius: 50%;
    padding: 10px 10px; 
    margin-right: 15px;
}
.profile-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
    color: white;
}
.profile-menu-link:hover span{
    transform: translateX(2px);
}
.profile-menu-link p{
    width: 100%;
    color: white;
    margin-top: 5%;
    transition: transform 0.5s;
}
.profile-menu-link:hover p{
    /* font-weight: 550; */
    transform: translateX(6px);
}
