/* notification user post is pending */
.container-user-post-notification {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}

.showAlert {
    display: block;
}

.user-post-status-success {
    background: white;
    border: 2px solid #2d63c2;
    border-radius: 20px;
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
    overflow: hidden;
}

.user-post-status-success p {
    position: absolute;
    top: 28%;
    left: 28%;
    color: green;
}

.exit-user-post-alert-btn {
    /* display: flex;
    justify-content: flex-end; */
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 12;
    /* font-size: 20px;
    color: #2d63c2;
    cursor: pointer; */
}

.exit-user-post-alert-btn i {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #2d63c2;
    cursor: pointer;
}

.img-alert {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35%;
}

/* profile */
.profile-form {
    margin-top: 100px;
    width: 100%;
    background-color: #fffdfd;
    box-shadow: 10px 10px 10px 10px #ccc;
}

.profile-image-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: transparent;
}

.profile-image-set {
    width: 80%;
    height: 400px;
    background-size: cover;
    transition: 0.3s ease;
}

.profile-image-set:hover {
    overflow: hidden;
    width: 100%;
    height: 500px;
    transform: scale(1);
}

.profile-user {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: transparent;
}

.profile-username {
    width: 80%;
    height: 100px;
    background: linear-gradient(
        56deg,
        rgba(34, 83, 150, 1) 8%,
        rgba(104, 171, 237, 1) 65%
    );
    border: 1px solid #54a0ff;
    border-radius: 20px;
    margin-left: 50px;
    transform: translateY(50px);
}

.profile-username-text {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
}

.profile-info {
    position: relative;
    margin-left: 50px;
    width: 80%;
    height: 250px;
    margin-top: 100px;
    background-color: transparent;
}

.info-text {
    font-size: 22px;
    font-weight: 600;
}

.blink {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #8e44ad 0%,
        #a29bfe 29%,
        #ff7675 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.info-text-user {
    font-weight: normal;
}

/* LIKE POST */
.like_post-1,
.like_post {
    display: flex;
    align-items: center;
}

.like_icon {
    color: red;
}

.dislike_icon_color {
    color: black;
}

/* .like_icon,
.dislike_icon {
    display: none;
} */

.show {
    display: inline-block;
}

/* like - profile */
.like_post_profile {
    border-top: 1px solid #ccc;
    padding: 5px 0;
    margin: 0 10px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* button profile */
.profile-edit-info {
    position: absolute;
    bottom: 0;
    right: 55px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        #5adaff 0,
        #5468ff 100%
    );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.profile-edit-info:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.profile-edit-info:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.profile-edit-info:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.profile-aboutme {
    position: relative;
    margin-top: 25px;
    width: 100%;
    background-color: transparent;
}

.profile-aboutme-set {
    width: 90%;
    min-height: 150px;
    margin-left: 50px;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.aboutme {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 23px;
    font-weight: 600;
    padding-left: 50px;
    color: #fdd835;
}

.profile-post {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

/* button aboutme */

.profile-edit-aboutme {
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    right: 55px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(
        100% 100% at 100% 0,
        #5adaff 0,
        #5468ff 100%
    );
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.profile-edit-aboutme:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.profile-edit-aboutme:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.profile-edit-aboutme:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* listdonate */
.profile-listdonate {
    width: 100%;
    background-color: transparent;
    margin-top: 50px;
}

/* scroll bar */
#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

.listdonate {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 30px;
    font-weight: 600;
    color: cornflowerblue;
}

.profile-table {
    width: 90%;
    background-color: transparent;
    margin-left: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.table thead tr th {
    background-color:rgba(155, 190, 230, 1);
    color: white;
    position: sticky;
    top: 0;
}

.profile-table table {
    border-collapse: collapse;
}

/* -------------------------user-post-------------------------- */
.modal-user-post-1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(246, 246, 246, 0.4);
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.modal-user-post-2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(246, 246, 246, 0.4);
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

@keyframes modalShowForm {
    from {
        opacity: 0;
        transform: translateY(-600px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal_inner-post {
    background-color: white;
    inset: 0 0 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: modalShowForm ease 0.4s;
}

.post-header {
    border-bottom: 1px solid #043e84;
}

.post-header-title {
    /* height: 100%; */
    text-align: center;
}

.post-header-title h1 {
    font-size: 25px;
    color: cornflowerblue;
    margin-bottom: 0;
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 15px;
}

.close-icon div {
    width: 25px;
    height: 25px;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.5s;
}

.close-icon div:hover {
    background-color: #043e84;
}

.close-icon div:hover i {
    color: white;
}

.close-icon div i {
    font-size: 20px;
    color: #043e84;
}

.post-uset-body {
    display: flex;
    align-items: center;
}

/* .user-name-post {
    display: flex;
    align-items: center;
} */
.user-name-post p {
    margin-bottom: 0;
    font-weight: 500;
}

.avatar-user-post img {
    clip-path: circle(30%);
    width: 60px;
}

.input-post-content {
    padding: 0 10px;
}

.input-post-content textarea {
    width: 700px;
    font-size: 20px;
    outline: none;
    border: none;
    resize: none;
    min-height: 150px;
}

.user-post-image {
    padding-left: 10px;
}

.user-post-image input {
    cursor: pointer;
}

.submit-post {
    width: 100%;
    padding: 10px;
}

.submit-post button {
    width: 100%;
}

.show-post-form {
    display: flex;
}

.show-edit-post-form {
    display: flex;
}

.edit_post {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}
/* edit comment */
.edit_post:hover {
    background-color: #f0eaea;
}

.hide-comment {
    display: none;
}
.hide-edit-comment {
    display: none;
}

.edit-post-user {
    background-color: rgb(246, 246, 246);
    width: 100px;
    position: absolute;
    top: 75px;
    right: 17px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(201, 197, 197);
    display: none;
}

.edit-post-user a {
    text-decoration: none;
}

.show-edit-form {
    display: block;
}

.edit-post-user::after {
    content: "";
    position: absolute;
    border-color: transparent transparent rgb(246, 246, 246) transparent;
    border-style: solid;
    border-width: 16px 14px;
    right: 9px;
    top: -31px;
}

.edit-post-user a {
    display: block;
    color: black;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
}

.edit-post-user a:hover {
    background-color: #f0eaea;
}

/* -------comment post-------- */
.modal-user-Comment-post {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(246, 246, 246, 0.4);
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}

.show-comment {
    display: flex;
}

.modal_inner-comment-post {
    background-color: white;
    width: 700px;
    height: 80%;
    inset: 0 0 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 35px 1fr 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: modalShowForm ease 0.4s;
}

#comment_reply-post {
    display: flex;
    margin-bottom: 10px;
}

#avatar_user {
    border-radius: 50px;
    width: 40px;
}

.post_comment-header-title {
    /* text-align: center; */
    font-size: 1.4rem;
}

.comment_close-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.post_comment-header-title h1 {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.close-icon-comment {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.close-icon-comment i {
    font-size: 20px;
}

#input_comment-post-1 {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#input_comment-post-1 textarea {
    width: 95%;
    height: 80%;
    outline: none;
    border: none;
    background-color: rgb(240, 242, 245);
    border-radius: 10px;
    padding: 10px 40px 10px 20px;
}

.btn_icon-submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(240, 242, 245);
    color: rgb(70, 145, 206);
}

.btn_icon-submit i {
    font-size: 30px;
}

.comment_body a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.comment_content {
    font-size: 15px;
}

.btn_icon-submit-reply {
    border: none;
    right: 15px;
    background-color: rgb(240, 242, 245);
    color: rgb(70, 145, 206);
}

.reply_comment_post {
    font-size: 13px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.reply_comment_post:hover {
    color: rgb(13, 98, 242);
}

.comment_background {
    background-color: rgb(240, 242, 245);
    padding: 0 10px;
    border-radius: 5px;
    width: 90%;
    overflow-wrap: break-word;
    position: relative;
}

.delete_comment-post {
    position: absolute;
    right: -35px;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_comment-post:hover {
    background-color: rgb(240, 242, 245);
    cursor: pointer;
}

.edit_delete-post {
    position: absolute;
    right: -26px;
    top: 120%;
    width: 70px;
    background-color: rgb(240, 242, 245);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.comment_background:hover .menu-edit-delete {
    display: block;
}

.menu-edit-delete {
    display: none;
}

/* .edit_delete-post-1::after {
    content: '';
    position: absolute;
    border-color: transparent transparent rgb(240,242,245) transparent;
    border-style: solid;
    border-width: 14px 14px;
    right: -29px;
    top: 13px;
} */
.edit_delete-post p {
    width: 100%;
    text-align: center;
}

.edit_delete-post p:hover {
    background-color: rgb(217, 218, 220);
}

.post_like-comment-post {
    border-top: 1px solid #ccc;
    padding: 5px 0;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.like_post-1,
.like_post {
    margin-right: 10px;
}

.comment_post {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.like_post.active i {
    color: red;
}

.like_post-1.active i {
    color: red;
}

.comment_body {
    margin-left: 10px;
    min-width: 20%;
}

.comment_body p {
    margin-bottom: 0;
}

#input_reply-comment {
    position: relative;
}

#input_reply-comment textarea {
    width: 100%;
    height: 80px;
    outline: none;
    border: none;
    background-color: rgb(240, 242, 245);
    border-radius: 10px;
}

/* input new post */
.input_new-post {
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 10px 18px darkblue;
    border-radius: 20px;
    padding: 30px;
}

.input_new-post div {
    width: 80%;
    height: 70%;
    border-radius: 20px;
    /* background-color: #eae3e3; */
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* color: rgb(156, 153, 153); */
    background-color: rgba(155, 190, 230, 1);
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    transition: 1s;
}

.input_new-post div:hover {
    background: darkblue;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

#exampleModalLabel {
    color: cornflowerblue;
}

.user__post {
    padding: 0;
    background-color: #f1ebeb;
    border-radius: 20px;
    background-color:rgba(155, 190, 230, 1);
    color: white;
}

.user__name {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: honeydew;
    font-size: 50px;
    font-style: oblique;
    font-family: Copperplate, Papyrus, fantasy;
}

.post__title {
    text-align: left;
    margin: 0 50px 20px 50px;
    color: darkblue;
    font-size: 24px;
}
.profile-text-listdonate {
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.listdonate-col {
    padding: 50px;
}
@media screen and (max-width: 360px) {
    .profile-edit-info {
        bottom: -35px;
        right: 0px;
    }
    .listdonate-col {
        margin-top: 80px;
        padding: 0;
    }
}
