.profile-form {
    margin-top: 150px;
    width: 100%;
    background-color: #fffdfd;
    box-shadow: 10px 10px 10px 10px #ccc;
}

.profile-image-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: transparent;
}

.profile-image-set {
    width: 80%;
    height: 400px;
    background-size: cover;
    transition: 0.3s ease;
}

.profile-image-set:hover {
    overflow: hidden;
    width: 100%;
    height: 500px;
    transform: scale(1);
}

.profile-user {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: transparent;

}

.profile-username {
    width: 80%;
    height: 100px;
    background-color: #3949AB;
    margin-left: 50px;
    transform: translateY(50px);
}

.profile-username-text {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
}

.profile-info {
    position: relative;
    margin-left: 50px;
    width: 80%;
    height: 250px;
    margin-top: 150px;
    background-color: transparent;
}

.info-text {
    font-size: 24px;
    font-weight: 600;
}

.info-text-user {
    font-weight: normal;
}

/* button profile */
.profile-edit-info {
    position: absolute;
    bottom: 0;
    right: 55px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.profile-edit-info:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.profile-edit-info:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.profile-edit-info:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.profile-aboutme {
    position: relative;
    margin-top: 50px;
    width: 100%;
    min-height: 350px;
    background-color: transparent;
}

.profile-aboutme-set {
    width: 90%;
    min-height: 265px;
    margin-left: 50px;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.aboutme {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 23px;
    font-weight: 600;
    padding-left: 50px;
    color: #FDD835;
}

/* button aboutme */

.profile-edit-aboutme {
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    right: 55px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.profile-edit-aboutme:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.profile-edit-aboutme:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.profile-edit-aboutme:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* listdonate */
.profile-listdonate {
    width: 100%;
    height: 500px;
    background-color: transparent;
    margin-top: 50px;
}
/* scroll bar */
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.listdonate {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 23px;
    font-weight: 600;
    padding-left: 50px;
    color: #FDD835;
}

.profile-table {
    width: 90%;
    height: 465px;
    background-color: transparent;
    margin-left: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.profile-table table thead tr th {
    background: rgb(85, 247, 79);
    background: linear-gradient(180deg, rgba(85, 247, 79, 1) 30%, rgba(2, 209, 120, 1) 86%);
    position: sticky;
    top: 0;
}

.profile-table table{
    border-collapse: collapse;
}


/* -------------------------user-post-------------------------- */
.modal-user-post-1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(246,246,246, .4);
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}


@keyframes modalShowForm {
    from {
        opacity: 0;
        transform: translateY(-600px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
.modal_inner-post {
    background-color: white;
    inset: 0 0 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: modalShowForm ease .4s ;
}

.post-header {
    border-bottom: 1px solid #043e84;
}
.post-header-title {
    height: 100%;
    text-align: center;
}
.post-header-title h1 {
    font-size: 25px;
    color: #043e84;
    margin-bottom: 0;
}
.close-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 15px;
}

.close-icon div{
    width: 25px;
    height: 25px;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 50%;
    transition: .5s;
}
.close-icon div:hover {
    background-color: #043e84;
}
.close-icon div:hover i {
    color: white;
}

.close-icon div i {
    font-size: 20px;
    color: #043e84;
}

.post-uset-body {
    display: flex;
}
.user-name-post {
    display: flex;
    align-items: center;
}
.user-name-post p{
    margin-bottom: 0;
    font-weight: 500;
}

.avatar-user-post img{
    clip-path: circle(30%);
    width: 60px;
}
.input-post-content {
    padding: 0 10px;
}
.input-post-content textarea {
    width: 500px;
    font-size: 20px;
    outline: none;
    border: none;
    resize: none;
    height: 150px;
}
.user-post-image {
    padding-left: 10px;
}
.user-post-image input {
    cursor: pointer;
}

.submit-post {
    width: 100%;
    padding: 10px;
}

.submit-post button {
    width: 100%;
}

.show-post-form {
    display: flex;
}

.edit_post {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    transition: .5s;
}
.edit_post:hover {
    background-color: #f0eaea;
}
.edit-post-user  {
    background-color: rgb(246,246,246);
    width: 100px;
    position: absolute;
    top: 75px;
    right: 17px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(201, 197, 197);
    display: none;
}
.show-edit-form {
    display: block;
}
.edit-post-user::after {
    content: '';
    position: absolute;
    border-color: transparent transparent rgb(246,246,246) transparent;
    border-style: solid;
    border-width: 16px 14px;
    right: 9px;
    top: -31px;
}
.edit-post-user a {
    display: block;
    color: black;
    font-weight: 500;
    opacity: .8;
    cursor: pointer;
}
.edit-post-user a:hover {
    background-color: #f0eaea;
}