/*  Mission sector  */
.container.mt-3.about-main {
    text-align: center;
}

.about-main h1.aboutus-h1 {

    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-main .mission {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    display: block;
    margin-bottom: 20px;
    text-align: justify;
}

.about-main .aboutus-image-main {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* About Us sector */
.aboutus-h2,
.aboutus-h3{
    text-align: center;
}

.about-story1,
.about-story3,
.about-story5 {
    margin-top: 50px;
    background-color: #e6f7ff; /* Soft blue background */
    color: #333; /* Dark text color */
    text-align: justify;
}

.about-story2,
.about-story4 {
    margin-top: 50px;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
    text-align: justify;
}


.about-story1 h2,
.about-story2 h2,
.about-story3 h2,
.about-story4 h2,
.about-story5 h2 {

    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-story1 .story1,
.about-story2 .story2,
.about-story3 .story3,
.about-story4 .story4,
.about-story5 .story5 {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.about-story1 .aboutus-image1,
.about-story2 .aboutus-image2,
.about-story3 .aboutus-image3,
.about-story4 .aboutus-image4,
.about-story5 .aboutus-image5 {
    width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center the image */
    display: block;
}

.story1,
.story2,
.story3,
.story4,
.story5 {
    display: flex;
    align-items: center;

}

.story1 span,
.story2 span,
.story3 span,
.story4 span,
.story5 span {
    width: 70%; /* Adjust the width as needed */
    margin-right: auto;
    margin-left: auto;

    margin: 20px auto;
    display: block

}

.aboutus_map_section {
    padding: 40px 0;
}


.aboutus-text {
    padding-right: 20px; /* Adjust as needed */
    text-align: justify;
}

/* logo_company */
.about-logo {
    margin-top: 50px;
    text-align: justify;
}

.about-story1 {
background-color: #e6f7ff; /* Soft blue background */
color: #333; /* Dark text color */
}

.about-story2 {
background-color: #f0f0f0; /* Light gray background */
color: #333; /* Dark text color */
}

.about-story3 {
background-color: #e6f7ff; /* Soft blue background */
color: #333; /* Dark text color */
}

.logo_info {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.logo_company {
    width: 100%;
    max-width: 150px;
    margin-top: 20px;
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
    .logo_company {
        max-width: 100%;
    }
}

/* call_to_action */
.call_to_action {
    text-align: center;
    margin-top: 50px;
    background-color: #e6f7ff;
    padding: 20px;
}

.call_to_action a {
    margin-left: auto;
    margin-right: auto;
    margin-left: 35%;
    margin-right: 35%;
}

.call_to_action_card p {
    text-align: justify;
}

.call_to_action .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.call_to_action .card:hover {
    transform: translateY(-5px);
}

.call_to_action .card svg {
    fill: #15b5f9;
    width: 80px;
    height: 80px;
}

.call_to_action .card-title {
    margin-top: 10px;
}

.call_to_action .card a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}

/* Our Team sector */
.aboutus_our_team {
    text-align: center;
    padding: 50px 0;
}

.aboutus_our_team a {
    margin-left: auto;
}

.founder-img1,
.founder-img2 {
    width: 100%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width if desired */
    height: 200%; /* Maintain the aspect ratio */
    margin-left: auto;
    margin-right: auto;
}

.aboutus_our_team .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
}

.aboutus_our_team .card:hover {
    transform: translateY(-5px);
}

.aboutus_johndoe p {
    text-align: justify;
} 

.founder-img {
    max-width: 100%;
    max-width: 150px; /* Set a maximum width if desired */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.aboutus_our_team .card-title {
    margin-top: 10px;
}

.aboutus_our_team .card a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
    .founder-img,
    .founder-img1,
    .founder-img2 {
        border-radius: 8px;
    }
}

/* Accordion sector */
.aboutus-accordion {
    text-align: center;
    padding: 50px 0;
}

/* Accordion style */
.aboutus-accordion-item {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.aboutus-accordion-button {
    background-color: #FFFFFF;
    text-align: left;
}

.aboutus-accordion-button:hover {
    color: #FFFFFF;
}


.accordion-body {
    border-top: 1px solid #dee2e6; /* Add a top border for separation between accordion items */
}

.aboutus_johndoe a {
    margin-left: auto;
    margin-right: auto;
    margin-left: 35%;
    margin-right: 35%;
}