body {
    background-color: white;
    color: #333; /* Dark text color */

}

h1 {
    text-align: center;
    font-size: 3em;

    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    background-color: #fff; /* White background */
    padding: 30px;
    margin-top: 20px;

}

h5 {

    text-align: center;
    margin-bottom: 20px;
}

span {
    display: block;
    font-size: 1.2em;
    line-height: 1.6;
    color: #555; /* Dark gray color */
    margin-bottom: 15px;
}

a:hover {
    text-decoration: underline;
}

p {
    font-style: italic;
    margin-top: 15px;
    color: #777; /* Slightly darker gray color for quotes */
}

hr {
    margin-top: 30px;
}

.introduction span {

    padding: 15px;
    border-radius: 10px;
}

.the_past,
.the_present,
.becoming_the_founder_main {

    padding: 30px;
    margin-top: 20px;

}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border-radius: 15px; /* Rounded corners */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border-radius: 15px; /* Rounded corners */
}

.johndoe_image {
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    width: 40%; /* Full width */
    height: auto; /* Maintain aspect ratio */
}

.becoming_the_founder2 {
    text-align: center
}
