.aboutus_teammember_h1 {
    text-align: center;
}
/* # Introduction */
.teamname_introduction span {
    display: block;
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

/* # Meeting the Founder */
.the_past h5{
    text-align: center;
}

.the_past span {
    color: #555;
    display: block;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}


/* # Carousel
# Adjusting the image size */
.kaigreene_image {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}

.aboutus_carousel_p p {
    font-style: italic;
    color: black;
}

.aboutus_carousel_p h5 {
    font-style: italic;
    color: black;
}

@media (max-width: 767px) {
    /* Styles for screens smaller than 768px (e.g., iPhones) */

    .carousel-item img {
        width: 100%; /* Make the images fill the width of the container */
        height: auto; /* Maintain the aspect ratio of the images */
    }

    .carousel-caption {
        max-width: 100%; /* Make the caption width 100% for smaller screens */
        text-align: center; /* Center the text within the caption */
        padding: 10px; /* Add some padding to the caption */
    }

    .carousel-caption h5,
    .carousel-caption p {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }
}
/* # Current Projects and Future Plans */


.plans span {
    display: block;
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

/* # Quotes */
.plans p {
    margin-top: 15px;
    font-style: italic;
    color: #777;
}

.becoming_the_founder_main h5{
    text-align: center;
}