.keen-slider {
    overflow: visible;
  }

  .keen-slider__slide {
    display: flex;
    transform: translate3d(0px, 0px, 0px);
  }
  .donate-home{
    position: relative;
    width: auto;
    height: 50px;
    background-color: transparent;
    margin-top: 50px;
  }
  .donate-user-index{
    position: absolute;
    top: 0;
      left: 50%; 
      transform: translateX(-50%); 
      width: 620px;
      height: 50px;
      border-radius: 30px;
      background-color: #fff;
      overflow: hidden;
      border: solid 1px #E67E22;
      box-shadow: 5px 5px 5px 5px #ccc;
    
  }
  .img-donate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 30px;
    /* background-color: aliceblue; */
  }
  .img-donate img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .text-name-donate{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: transparent;
  }
  .text-name-donate span{
    font-size: 15px;
    font-weight: 800;
  }
  .text-info{
    font-size: 13px !important;
    font-weight: normal !important;
    /* padding-right: 50px; */
    padding-left: 10px;
    color: black !important;
  }
  .donate-time{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    width: 150px;
    color: #BDC3C7;
    height: 50px;
    /* background-color: red; */
  }
  @media screen and (max-width: 576px) {
    .donate-user-index{
      width: 400px;
    }
    .text-name-donate{
      width: 250px;
    }
    .donate-time{
      right: 0;
      padding-left: 40px;
    }
  }
  /* carousel */
  