.margin-navbar {
    margin-top: 60px;
    background:  linear-gradient(to bottom, #FFFFFF, #78a9e9 );
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 19px;
    opacity: .8;
    font-size: 18px;
}
.post-title {
    padding-top: 30px;
    border-bottom: 1px solid rgb(221, 212, 212);
}

.post-title h2 {
    font-size: 28px;
    color:#036;
}

.post-detail {
    margin-top: 30px;
    color:#036;
}

.post-detail-1 img {
    width: 100%;
    margin: 15px 0;
}

.donate_link {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.donate_link a {
    padding: 10px;
    background:  linear-gradient(to right, #1a5fb4, #78a9e9 );
    width: 150px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.donate_link a:hover {
    color: #023271;
}

/* nav right*/
.nav-bar-right {
    background: linear-gradient(to left ,#2052af, #74a7e9);
    padding: 0 !important;
}
.nav-bar-right h2{
    font-size: 25px;
    color: white;
    padding: 20px 0 0 20px;
}
.title-middle {
    margin-bottom: 20px;
}
.btn-search-1 {
    position: relative;
    padding: 10px 0 0 20px;
    width: 95%;
}
.btn-search-1 input{
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px 40px 5px 20px;
    font-weight: 550;
}
.search-icon {
    top: 50%;
    right: 10px;
    position: absolute;
}
.btn-search i {

    transform: translateY(-25%);
    color:  #004AAD;
    font-size: 20px;
}

/* menu bar */

.menu-bar {
    width: 100%;
    margin-top: 30px;
}

.menu-bar .item {
    position: relative;
    border-bottom: 3px solid white;
    cursor: pointer;
    transition: all .3s;
    cursor: pointer;
}

.nav-bar-right ul li:hover {
    background-color: #2772d4;
}
.menu-title-a {
    text-decoration: none;
    padding-left: 20px;
    color: white;
    font-size: 20px;
    line-height: 40px;
}
.menu-title-a:hover{
    color: white;
}
.item i {
    color: white;
}
.sub-menu {
    display: none;
}
.sub-menu a {
    display: block;
    color: white;
    padding-left: 40px;
    font-size: 20px;
    text-decoration: none;
    margin: 3px 0;
}
.sub-menu a:first-child {
    margin-top: 0;
}
.sub-menu a:last-child {
    margin-bottom: 0;
}
.sub-menu a:hover{
    color: white;
    background-color:  #78a9e9;
}
.rotate-slide {
    transform: rotate(90deg);
}
/* ----- */
.post_related{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 20px;
}
.post_related:first-child{
    margin-top: 20px;
}
.post_related img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.post-title-child {
    margin-left: 15px;
}
.post-title-child a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    transition: all .3s ease;
    line-height: 10px;
}
.post-title-child a:hover {
    color: #b7d0f0;
}

/* ---------------------------------comment */
.comment-access {
    background-color: #1a5fb4;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: .3s;
    margin-top: 50px;
}
.comment-access a{
    text-decoration: none;
    color: white;
    font-size: 14px;

}
.comment-access a:hover {
    color: white;
}
.comment-access:hover {
    background-color: #74a7e9;
}
.comment-icon i{
    font-size: 25px;
    color: black;
    opacity: .5;
    cursor: pointer;
}
.comment-icon i:hover {
    opacity: .7;
}
.comment-icon span {
    font-size: 25px;
    color: black;
    opacity: .5;
}

/* ----------------------------comment modal */
.modal-user-post {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;

}


.modal_inner {
    margin-top: 60px;
    background-color: white;
    border: 5px solid  #043e84;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 70px 70px;
    max-width: 100%;
    width: 40%;
    will-change: transform;
    animation: modalFadeIn ease .4s;
}



@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateX(600px)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}
.comment-header {
    width: 100%;
    background-color: #a1caff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid  #043e84;
}
.comment-header h1 {
    font-size: 25px;
    margin-bottom: 0;
    padding-left: 10px;
    color: #043e84;
}
.comment-header i {
    font-size: 25px;
    color: #043e84;
    padding-right: 10px;
    cursor: pointer;
}
.comment-body {
    border-bottom: 5px solid  #043e84;
    overflow-y: scroll;
}

.comment-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.comment-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}


.comment-user{
    margin-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
}


.avatar-user img{
    clip-path: circle(30%);
    width: 80px;
}

.comment-user-info {
    background-color: rgb(242,243,245);
    width: 60%;
    border-radius: 15px;
    position: relative;
}
.comment-user-comment {
    padding-left: 10px;
}
.comment-user-info p {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 0;
}
.comment-content {
    margin: 0 5px 10px 0;
    line-height: 20px;
}

.comment-reply {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.choose-icon {
    margin-left: 5px;
    cursor: pointer;
    width: 40px;
    border-radius: 50px;
    text-align: center;
    opacity: .7;
    opacity: 0;
}
.comment-user:hover .choose-icon {
    opacity: .7;
}
.choose-icon:hover {
    background-color:#023271;
}

.delete-edit-comment {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0, .2);
    width: 100px;
    bottom: 0;
    right: -68px;
    bottom: -76px;
    overflow: hidden;
    z-index: 11;
}
.delete-edit-comment-1 {
    position: relative;
    display: none;
}


.show {
    display: block;
}
.arrow {
    position: absolute;
    top: -5px;
    left: -16px;

}
.arrow svg{
    fill: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}


.delete-edit-comment ul {
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
}
.delete-edit-comment ul li {
    list-style: none;
    cursor: pointer;
    transition: .3s;
}
.delete-edit-comment ul li:hover {
    background-color:rgba(0,0,0, .1);
}

/* comment like */
.comment-status {
    display: flex;
    align-items: center;
    background-color: #a1caff;
    border-bottom: 6px solid  #043e84;
}
.comment-status i {
    margin: 0 5px;
    color: #043e84;
}
.comment-input {
    background-color: #043e84;
    display: flex;
    align-items: center;
    position: relative;
}
.comment-input input{
    height: 80%;
    padding: 0 60px 0 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
}
.comment-submit button {
    border: none;
    color: #007de4;
    opacity: .5;
}
.comment-submit {
    position: absolute;
    right: 26px;
    font-size: 35px;
    /* cursor: pointer; */


}

/* respones */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (max-width: 920px) {

    .margin-navbar {
        display: none;
    }
    .post-title-par {
        margin-top: 60px;
    }

    .donate_link {
        margin-bottom: 20px;
    }
}

@media (max-width: 1023px) {
    .nav-bar-right {
        display: none;
    }
}
