* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------navbar -----------------------------------------*/

/* ------------------------------------ */
.nav_bar {
    /* position: fixed; */
    z-index: 999;
    width: 100%;
    height: 60px;
    display: flex;
    background: white;
    background: linear-gradient(
        90deg,
        white 7%,
        rgb(10, 84, 195) 34%,
        #19508f 62%
    );
    justify-content: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    padding-left: 0px;
    margin-bottom: 0;
}

.logo {
    width: 120px;
    margin-right: -35px;
    background: none;
}
.nav_bar li {
    background-color: red;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
}

.nav_bar li:first-child,
.nav_bar li:nth-child(2),
.nav_bar li:nth-child(3),
.nav_bar li:nth-child(4),
.nav_bar li:nth-child(5),
.nav_bar li:nth-child(6),
.nav_bar li:nth-child(7) {
    position: relative;
    height: 100%;
    transform: skewX(-0.09turn);
    cursor: pointer;
}

.nav_bar li:first-child {
    width: 20%;
    background: white;
    background: linear-gradient(90deg, white 24%, #19508f 56%);
}

.nav_bar li:nth-child(2) {
    width: 25%;
    background: linear-gradient(to right, #123b6a, #19508f);
}

.nav_bar li:nth-child(3) {
    width: 25%;
    background: linear-gradient(to right, #123b6a, #19508f);
}

.nav_bar li:nth-child(4) {
    width: 25%;
    background: linear-gradient(to right, #123b6a, #19508f);
}

.nav_bar li:nth-child(5) {
    width: 25%;
    background: linear-gradient(to right, #123b6a, #19508f);
}

.nav_bar li:nth-child(6) {
    width: 25%;
    background: linear-gradient(to right, #123b6a, #19508f);
}

.nav_bar li:nth-child(7) {
    width: 25%;
    background: linear-gradient(to right, #123b6a, #19508f);
}

.nav_bar li a {
    text-decoration: none;
    display: block;
    background-color: transparent;
    white-space: nowrap;
}

.nav_bar li a .text {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    transform: skew(0.09turn);
}
.nav_bar li div.text.popup-profile {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    transform: skew(0.09turn);
}
img.nav-user-img {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav_bar li div.text.popup-login {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    transform: skew(0.09turn);
}
.nav_bar li a .text:hover {
    color: #123b6a;
    transition: 0.3s;
}

.nav_bar li div.text.popup-profile:hover {
    color: #123b6a;
    transition: 0.3s;
}

.nav_bar li div.text.popup-login:hover {
    color: #123b6a;
    transition: 0.3s;
}
.nav-menu-title {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.nav-menu-title:hover {
    color: white;
}

.nav-sub-menu-title {
    display: none;
}

.nav-sub-menu-title a {
    display: none;
    text-decoration: none;
    color: white;
    padding-left: 40px;
    font-size: 20px;
}
.nav-sub-menu-title a:hover {
    background-color: rgb(116, 155, 227);
    color: white;
}

/* --------------carosel------------------- */
.carosel_heigth {
    height: 100vh;
    width: 100vw;
    object-fit: center;
}

button.carousel-control-prev,
button.carousel-control-next {
    height: 50px;
    position: absolute;
    top: 50%;
}

/* --------------------card-------------------------- */
.section-title {
    height: 50px;
    margin: 50px 0;
    width: 100%;
    border-bottom: 1px solid rgb(215, 210, 210);
}

.section-title h4 {
    margin-bottom: 0;
    color: #245abe;
}

.a-card {
    text-decoration: none;
}

.card-img-top-1 {
    height: 250px;
}

.card_wapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s linear;
}

.card_wapper:hover {
    transform: translateY(-5px);
}

/* project status */
.project-status {
    position: absolute;
    right: -6px;
    top: 10px;
    background-color: red;
    color: white;
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-status::before {
    content: "";
    position: absolute;
    border: 3px solid;
    border-color: transparent transparent #0d6efd #0d6efd;
    right: 0;
    top: -6px;
}

.project-status-finish {
    position: absolute;
    right: -6px;
    top: 10px;
    background-color: green;
    color: white;
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-status-finish::before {
    content: "";
    position: absolute;
    border: 3px solid;
    border-color: transparent transparent rgb(2, 73, 2) rgb(2, 73, 2);
    right: 0;
    top: -6px;
}

/* -------------------------------- */

.card-text-1-1 {
    color: rgb(13, 44, 76) !important;
    opacity: 0.9;
}

.card-title-1 {
    font-weight: 700;
    color: #245abe !important;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-body p {
    margin-bottom: 8px;
}

.card-title-child,
.card-title-child-1 {
    color: #224a7f;
    font-weight: 600;
}

.card-title-child span {
    color: rgb(87, 182, 50);
}

.card-title-child-1 span {
    color: red;
    font-weight: 500;
}

.btn-primary-1 {
    background: #245abe !important;
    font-weight: 550 !important;
    transition: 0.3s !important;
    border: 2px solid #245abe !important;
}

.btn-primary-1:hover {
    background: white !important;
    color: #245abe !important;
}

/* .card-title-child span::after,
.card-title-child-1 span::after {
    content: "₫ ";
} */

.cart-description-post {
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/* video */

.video_status a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #224a7f;
    transition: 0.3s;
}

.video_status a:hover {
    color: #578fd9;
}

.section-title-1-0 {
    margin: 50px 0;
}

.section-title-1 {
    display: flex;
    justify-content: space-between;
    justify-items: center;

    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid rgb(215, 210, 210);
    margin-bottom: 20px;
    align-items: center;
    margin-top: 10px;
}
.donate__title {
    margin-bottom: 0;
}
.section-title_video h4 {
    color: #245abe;
}

.btn__more {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 50;
    font-size: 15px;
    background-color: #1b4a88;
    transition: 0.3s;
}

.btn__more:hover {
    background-color: darkblue;
    color: white;
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
}

/* project */

.statistical {
    position: relative;
    text-align: center;
    width: 300px;
    margin: 40px 0;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-count i {
    font-size: 40px;
    color: #ff3800;
}
.total-money i {
    transform: translateY(10px);
}

.total-money i,
.total-money span {
    font-size: 40px;
    color: #4cd137;
}

.project-count span {
    font-size: 40px;
    color: #ff3800;
    margin-left: 5px;
}

/* -------------footer------------ */
.footer_header span {
    line-height: 30px;
}

.footer_header h2 {
    font-size: 19px;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
}

.footer_header ul {
    padding-left: 0;
}

.footer_header ul li {
    list-style: none;
    margin: 20px 0;
    transition: all 0.3s linear;
    border-bottom: 1.5px solid white;
    width: 90%;
}

.footer_header ul li:last-child {
    border-bottom: none;
}

.footer_header ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer_header ul li i {
    margin-right: 5px;
}

.footer_header ul li:hover {
    transform: translateX(10px);
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-end h6 {
    color: #123b6a;
    margin-bottom: 0;
}

.media-icon a i {
    font-size: 25px;
    margin: 0 4px;
}

#footer-end {
    background: white;
    height: 53px;
    display: flex;
    align-items: center;
}

.media-icon {
    display: flex;
    align-items: center;
}

/* project status */
.project-status {
    content: "";
}

/* ------video page--------- */
.video-child {
    position: relative;
}

.video-icon-youtube {
    position: absolute;
    top: 42%;
    right: 37%;
    transform: translate(-50%, -50%);
    color: red;
    display: none;
}

.video-child:hover .video-icon-youtube {
    display: block;
}

/* -----------------------------responsive------------------------------- */

@media (max-width: 280px) {
    /* --------------------------------- */
    .section-title {
        height: 34px;
    }

    .section-title h4 {
        font-size: 20px !important;
    }

    .section-title_video h4 {
        font-size: 20px !important;
    }

    /* ----------------------------------------- */
    #myVideo {
        width: 100% !important;
    }

    /* footer */
    #footer-end {
        height: 160px !important;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end h6 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }
}

@media (max-width: 375px) {
    /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end h6 {
        text-align: center;
        margin-bottom: 10px !important;
        line-height: 20px;
    }
}

@media (max-width: 393px) {
    /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end h6 {
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }
}

@media (max-width: 414px) {
    /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end h6 {
        font-size: 20px !important;
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }
}

@media (max-width: 430px) {
    .section-title_video h4 {
        font-size: 30px;
    }
    #search.search-home {
        display: none;
    }
    .log-sign {
        display: none !important;
    }
    .log-sign-dropdown {
        display: flex !important;
    }
}

@media (max-width: 540px) {
    .search-ajax {
        left: 0 !important;
        width: 364px !important;
        overflow-x: hidden !important;
    }
}

@media (max-width: 768px) {
    /* ----nav----------- */
    .nav_bar li a .text {
        font-weight: 600;
        font-size: 15px;
    }
    .nav-user-img {
        display: none;
    }
    .logo {
        margin-right: 0;
        display: none;
    }

    .nav_bar {
        padding-left: 0;
    }

    /* ----------caorsel--------- */
    .carosel_heigth {
        object-fit: cover;
    }

    /* -----------card------------ */
    .card_wapper {
        width: 100% !important;
        margin-bottom: 30px;
        position: relative;
    }

    .card-title-1 {
        font-size: 30px;
        font-weight: 500;
    }

    .card-body h5 {
        font-size: 30px;
        font-weight: 500;
    }

    .card-body p {
        font-size: 23px;
    }

    .card_wapper img {
        object-fit: cover;
        height: 400px;
    }
    /* search */
    .search-ajax {
        left: 0 !important;
        width: 364px !important;
        overflow-x: hidden !important;
    }
}

@media (max-width: 912px) {
    /* card */
    .card-title-1 {
        font-size: 30px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .card-body p {
        font-size: 25px;
    }

    .btn-primary-1 {
        width: 150px;
        margin: 15px 0;
    }

    .col-xl-6 {
        padding: 30px;
    }

    .section-title h4 {
        font-size: 25px;
    }

    .section-title_video h4 {
        font-size: 25px;
    }

    .section-title-1 div:last-child {
        margin-bottom: 25px;
    }

    .section-title-1 div a {
        font-size: 16px;
        padding: 10px;
    }

    .video_status {
        margin-bottom: 25px;
    }

    .video_title {
        font-size: 25px !important;
    }

    /* footer */
    .footer_header h2 {
        font-size: 25px;
    }

    .footer_header span {
        font-size: 23px;
        line-height: 30px;
    }

    .footer_header ul li a {
        font-size: 23px;
    }

    .footer_header ul li {
        font-size: 23px;
    }

    /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end h6 {
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .footer-end h6 {
        font-size: 23px;
    }
}

/*Ipad ngang(1024 x 768)*/
@media (max-width: 1400px) {
    /* ------card----------- */
    .card-title-1 {
        font-size: 18px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .card_wapper {
        width: 100% !important;
    }

    .card-img-top-1 {
        object-fit: cover;
    }

    /* -----------video------------ */
    #myVideo {
        width: 350px;
    }
}

@media (max-width: 700px) {
    #nav-toggle input {
        width: 100%;
    }
}

.test-nav {
    display: none;
}
.nav-mobile-container {
    display: none;
}

@media (max-width: 1024px) {
    .nav-mobile-container {
        width: 100%;
        /* padding: 0 2rem; */
        margin: 0 auto;
        display: flex;
        position: relative;
        background: #123b6a;
        height: 60px;
    }
    .logo-container {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .nav-btn {
        flex: 3;
        display: flex;
        position: absolute;
        height: calc(100vh - 3rem);
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: 0.65s;
    }
    .nav-links {
        flex: initial;
        width: 100%;
    }
    .log-sign-dropdown {
        position: absolute;
        right: 10%;
        display: none;
        /* display: flex; */
        align-items: center;
        flex: initial;
        padding: 1.5rem 1.5rem;
        justify-content: flex-start;
        z-index: 999;
    }
    .log-sign {
        position: absolute;
        right: 10%;
        display: flex;
        align-items: center;
        flex: initial;
        padding: 1.5rem 1.5rem;
        justify-content: flex-start;
        z-index: 999;
    }
    .logo-container {
        position: relative;
        left: 30px;
    }
    .logo {
        color: #fff;
        font-size: 50px;
    }
    /* .btn{
        display: inline-block;
        padding: .5rem 1.3rem;
        font-size: .8rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
        margin: 0 .2rem;
        transition: .3s;
        text-transform: uppercase;
    } */

    .btn-mobile.solid {
        background-color: transparent;
        color: #fff;
        border: 1px solid white;
        display: inline-block;
        padding: 0.5rem 1.3rem;
        font-size: 0.8rem;
        border: 2px solid #fff;
        border-radius: 2rem;
        line-height: 1;
        margin: 0 20px;
        transition: 0.3s;
        text-transform: uppercase;
        cursor: pointer;
    }

    .btn-mobile.solid:hover {
        background-color: #fff;
        color: #123b6a;
    }
    .nav-links ul.ul-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .nav-link {
        position: relative;
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }
    .nav-link a {
        text-decoration: none;
        line-height: 1;
        padding: 1.6rem 2rem;
        color: #fff;
        letter-spacing: 1px;
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.5s;
    }
    .nav-link a i {
        margin-left: 0.2rem;
        font-size: 1.1rem;
        transform: rotate(360deg);
        /* transform: rotate(-90deg); */
        transition: 0.7s;
    }
    .nav-link:hover a {
        transform: scale(1);
        background-color: #50a9d6;
    }

    .dropdown {
        /* position: absolute;
        top: 100%;
        left: 0;
        width: 10rem;
        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        transition: .5s; */
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #3183ac;
        display: none;
    }
    .dropdown ul.dropdown-mobile-ul {
        position: relative;
    }
    .dropdown-link a {
        display: flex;
        font-size: 0.9rem;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s;
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }
    .dropdown-link:hover a {
        /* background-color: #3498db;
        color: #fff; */
        background-color: #3a91bd;
    }
    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .dropdown-link i {
        transform: rotate(-90deg);
    }
    .arrow {
        position: absolute;
        width: 11px;
        height: 11px;
        top: -5.5px;
        cursor: pointer;
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: 0.5s;
    }
    .nav-link:hover .arrow {
        background-color: #50a9d6;
    }

    .dropdown-link:first-child:hover ~ .arrow {
        background-color: #50a9d6;
    }

    .dropdown-link {
        position: relative;
    }
    .nav-link:hover .dropdown,
    .dropdown-link:hover .dropdown {
        /* transform: translate(0, 0);
        opacity: 1;
        pointer-events: auto; */
        display: block;
    }
    /* a.nav-menu-title:hover ~ i{
        transform: rotate(360deg);
    } */
    .hamburger-menu-container {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        /* top: 10px;*/
        right: 30px;
        align-items: center;
        justify-content: flex-end;
    }

    .hamburger-menu {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .hamburger-menu div {
        width: 1.6rem;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        z-index: 1001;
        transition: 0.5s;
    }

    .hamburger-menu div:before,
    .hamburger-menu div:after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: #fff;
        border-radius: 3px;
        transition: 0.5s;
    }

    .hamburger-menu div:before {
        transform: translateY(-7px);
    }

    .hamburger-menu div:after {
        transform: translateY(7px);
    }
    #check {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        z-index: 90000;
        cursor: pointer;
        opacity: 0;
        display: block;
    }
    #check:checked ~ .hamburger-menu-container .hamburger-menu div {
        background-color: transparent;
    }

    #check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
        transform: translateY(0) rotate(-45deg);
    }

    #check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
        transform: translateY(0) rotate(45deg);
    }
    @keyframes animation {
        from {
            opacity: 0;
            transform: translateY(15px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign {
        animation: animation 0.5s ease forwards var(--i);
    }
    ul.ul-mobile {
        list-style: none;
    }

    .nav_bar {
        display: none;
    }

    /* .popup-profile-container {
        display: none;
    } */

    div.search-input-icon {
        position: relative;
        left: 20px;
        /* position:absolute; */
        /* height: 100%;*/
        /* width: 500px; 
    height: 50px; */
        /* left: -5%; */
        width: 50%;
        height: 100%;
    }
    .search-input-icon-child {
        z-index: 10000;
        width: 100%;
        height: 37px;
    }
    #search.search-home {
        width: 100%;
        /* width: 90%; */
        height: 100%;
        border-radius: 20px;
        z-index: 2;
    }
    .search-input-icon-child input::placeholder {
        padding-left: 10px;
    }
    .search-input-icon i {
        font-size: 20px;
        padding-right: 10px;
    }
}
@media (max-width: 770px) {
    .nav-btn {
        margin-top: 0px;
    }
}

/*-------- video page-----------*/
@media (max-width: 1400px) {
}

#myVideo {
    width: 100%;
}
/* search */
.search-ajax {
    position: absolute;
    border-radius: 20px;
    width: 420px;
    height: 200px;
    background: #3498db;
    top: 50px;
    left: 0;
    z-index: 2;
    overflow: scroll;
    overflow-x: hidden;
}
.result-search {
    width: 400px;
    height: auto;
    padding-left: 10px;
    margin-top: 10px;
    background-color: transparent;
}
.result-search a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
}
.image-search {
    display: flex;
    justify-content: center;
    width: 90px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
}
.image-search img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.text-result {
    display: flex;
    align-items: center;
    width: 310px;
    height: auto;
    background-color: transparent;
    font-size: 17px;
    font-family: cursive;
}

.search-ajax::-webkit-scrollbar {
    width: 0px;
}

.search-ajax::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 100px;
}

.search-ajax::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: darkgray;
}

/* back to top button beginning */
#myBackToTopBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: #2d3436;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
}

#myBackToTopBtn:hover {
    background-color: #2c2c54;
    box-shadow: 5px 10px 10px #2c2c54;
    transform: scale(1.5);
}
/* back to top button ending */

/* social icon beginning  */
.fab {
    padding: 0 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* border-radius: 50%; */
}

.fab:hover {
    opacity: 0.7;
    transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
}
/* .fa-facebook {
    color: rgb(7, 101, 255);
} */
.fa-youtube {
    color: #e55039;
}
.fa-twitter {
    color: rgb(9, 165, 237);
}
.fa-instagram {
    color: #d6249f;
}
/* social icon ending  */
