* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----------------------------navbar -----------------------------------------*/

/* ------------------------------------ */
.nav_bar {
    /* position: fixed; */
    z-index: 999;
    width: 100%;
    height: 60px;
    display: flex;
    background: rgb(205, 255, 216);
    background: linear-gradient(90deg, rgba(205, 255, 216, 1) 7%, rgba(148, 185, 255, 1) 34%, rgba(56, 182, 255, 1) 62%);
    justify-content: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    padding-left: 0px;
    margin-bottom: 0;
    display: none;
}

.nav_bar li {
    background-color: red;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
}

.nav_bar li:first-child,
.nav_bar li:nth-child(2),
.nav_bar li:nth-child(3),
.nav_bar li:nth-child(4),
.nav_bar li:nth-child(5),
.nav_bar li:nth-child(6),
.nav_bar li:nth-child(7) {
    position: relative;
    height: 100%;
    transform: skewX(-0.09turn);
    cursor: pointer;
}

.nav_bar li:first-child {
    width: 20%;
    background: rgb(205, 255, 216);
    background: linear-gradient(90deg, rgba(205, 255, 216, 1) 24%, rgba(148, 185, 255, 1) 56%);
}

.nav_bar li:nth-child(2) {
    width: 25%;
    background-color: #FF3131;
}

.nav_bar li:nth-child(3) {
    width: 25%;
    background-color: #FFDE59;
}

.nav_bar li:nth-child(4) {
    width: 25%;
    background-color: #7ED957;
}

.nav_bar li:nth-child(5) {
    width: 25%;
    background-color: #CB6CE6;
}

.nav_bar li:nth-child(6) {
    width: 25%;
    background-color: #FF66C4;
}

.nav_bar li:nth-child(7) {
    width: 25%;
    background-color: #38B6FF;
}

.nav_bar li a {
    text-decoration: none;
    display: block;
    background-color: transparent;
    white-space: nowrap;
}

.nav_bar li a .text {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    transform: skew(0.09turn);
}

#nav-toggle {
    /* display: none; */
    font-size: 40px;
    padding-left: 30px;
    color: white;
    background-color: #38B6FF;
    display: flex;

}

.logo {
    width: 130px;
    margin-right: -40px;
    background: none;
}

/* -----------header mobile interface--------- */
#nav-mobile {
    background-color: rgba(148, 185, 255, 1);
}

.nav-mobile-interface i{
    color: white;
}

.nav-menu-title {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
.nav-menu-title:hover {
    color: white;
}

.nav-sub-menu-title {
    display: none;
}
.nav-sub-menu-title a{
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 40px;
    font-size: 20px;
}
.nav-sub-menu-title a:hover {
    background-color: rgb(116, 155, 227);
    color: white;
}







/* --------------carosel------------------- */
.carosel_heigth {
    height: 100vh;
    width: 100vw;
    object-fit:  center;
}

/* --------------------card-------------------------- */ 
.section-title {
    height: 50px;
    margin: 50px 0;
    width: 100%;
    border-bottom: 1px solid rgb(215, 210, 210);
}

.section-title h4 {
    margin-bottom: 0;
    color: rgb(0,106,175);
}
.a-card {
    text-decoration: none;
}

.card-img-top-1 {
    height: 250px;
}
.card_wapper {
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.2);
    transition: 0.2s linear;
}
.card_wapper:hover {
    transform: translateY(-5px);
}
.card-text-1-1 {
    color: rgb(13,44,76) !important;
    opacity: .9;
}
.card-title-1 {
    font-weight: 700;
    color: rgba(56, 182, 255, 1) !important;
}

.card-body p{
    margin-bottom: 8px;
}

.card-title-child {
    color: rgba(148, 185, 255, 1);
    font-weight: 600;
}
.card-title-child span,
.card-title-child-1 span {
    color: red;
    font-weight: 500;
}
.card-title-child-1 {
    color: rgb(87, 182, 50);
    font-weight: 600;
}

.btn-primary-1 {
    background: rgb(0,106,175) !important;
    font-weight: 550 !important;
    transition: 0.3s !important;
    border: 2px solid rgb(0,106,175) !important;
}

.btn-primary-1:hover {
    background: white !important;
    color: rgb(0,106,175) !important;
}

.card-title-child span::after,
.card-title-child-1 span::after {
    content: "₫ "; 
}

/* video */

.video_status a {
    display: block;
    font-size: 20px;
    text-decoration: none; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(52,105,120);
}

.video_status a:hover {
    text-decoration: underline;
}
.section-title-1-0 {
    margin: 50px 0;
}
.section-title-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(215, 210, 210);
    height: 50px;
}

.section-title_video h4 {
    color: rgb(0,106,175);
}

.section-title-1 div a{
    text-decoration: none;
    color: rgb(0,106,175);
    font-size: 24px;
    color: white;
    padding: 5px;
    border-radius:3px;
    font-weight: 50;
    background-color: rgb(0,106,175);
    transition: .3s;
}

.section-title-1 div a:hover {
    background-color: rgb(17, 151, 241);
}

/* -------------footer------------ */
.footer_header span {
    line-height: 30px;
}
.footer_header h2 {
    font-size: 19px;
    font-weight: bold;
    color: white;
    border-bottom: 1.5px dotted  white;
}

.footer_header ul {
    padding-left: 0;
}

.footer_header ul li {
    list-style: none;
    margin: 20px 0;
    transition: all .3s linear;
    border-bottom: 1.5px dotted  white;
}

.footer_header ul li:last-child{
    border-bottom: none;
}

.footer_header ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer_header ul li i {
    margin-right: 5px;
}

.footer_header ul li:hover {
    transform: translateX(10px);
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-end  h6 {
    color: white;
    margin-bottom: 0;
}
.media-icon a i {
    font-size: 30px;
    margin: 0 4px;
}


#footer-end {
    background-color: #64b6fe; 
    height: 53px;
    display: flex;
    align-items: center;
}

.media-icon {
    display: flex;
    align-items: center;
}

/* -----------------------------responesive------------------------------- */
/*Smart phone nhỏ*/
@media (max-width: 280px){
    /* --------------------------------- */

    .section-title {
        height: 34px;
    }
    .section-title h4 {
        font-size: 20px !important;
    }

    .section-title_video h4 {
        font-size: 20px !important;
    }
/* ----------------------------------------- */
    #myVideo {
        width: 100% !important;
    }

    /* footer */
    #footer-end {
        height: 160px !important;
    }
    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end  h6 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }

    
}
/*Iphone(480 x 640)*/
@media(max-width: 375px){

    /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end  h6 {
        text-align: center;
        margin-bottom: 10px !important;
        line-height: 20px;
    }
}

@media(max-width: 393px) {
    
     /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end  h6 {
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }
}

@media(max-width: 414px) {
    
      /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end  h6 {
        font-size: 20px !important;
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }

    /* video */
    /* #myVideo {
        width: 380px !important;
    } */
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px){
    
}

@media(max-width: 540px) {
    
}
/*Ipad dọc(768 x 1024)*/
@media(max-width: 768px){

    /* ----nav----------- */
    .nav_bar li a .text {
        font-weight: 600;
        font-size: 15px;
    }
    .logo {
        margin-right: 0;
        width: 70px;
    }
    .nav_bar {
        padding-left: 0;
    }
    /* ----------caorsel--------- */
    .carosel_heigth {
        object-fit:  cover;
    }
    /* -----------card------------ */
    .card_wapper {
        width: 100% !important;
        margin-bottom: 30px;
    } 
    .card-title-1 {
        font-size: 30px;
        font-weight: 500;
    }
    

    .card-body h5 {
        font-size: 30px;
        font-weight: 500;
    }

    .card-body p {
        font-size: 23px;
    }

    .card_wapper img {
        object-fit: cover;
        height: 400px;
    }

    
}


@media(max-width: 912px) {

    /* card */
    .card-title-1 {
        font-size: 30px;
    }
    .card-body p {
        font-size: 25px;
    }
    .btn-primary-1 {
        width: 150px;
        margin: 15px 0;
    }
    .col-xl-6 {
        padding: 30px;
    }

    .section-title h4 {
        font-size: 40px;
    }

    .section-title_video h4 {
        font-size: 40px;
    }
    .section-title-1 div:last-child  {
        margin-bottom: 25px;
    }
    .section-title-1 div a {
        font-size: 25px;
        padding: 10px;
    }
    .video_status {
        margin-bottom: 25px;
    }
    .video_title {
        font-size: 25px !important;
    }

    /* footer */
    .footer_header h2{
        font-size: 25px;
    }
    .footer_header span {
        font-size: 23px;
        line-height: 30px;
    }
    .footer_header ul li a {
        font-size: 23px;
    }

    .footer_header ul li {
        font-size: 23px;
    }

      /* footer */
    #footer-end {
        height: 120px;
    }

    .footer-end {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-end  h6 {
        text-align: center;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .footer-end h6 {
        font-size: 23px;
    }
}

/*Ipad ngang(1024 x 768)*/
@media(max-width: 1400px){


    /* ------card----------- */
    .card_wapper {
        width: 100% !important;
    }

    .card-img-top-1 {
        object-fit: cover;
    }

    /* -----------video------------ */
    #myVideo {
        width: 350px;
    }
}

@media(max-width: 1024px) {
    

    #nav-toggle {
        display: block;
    }
}