a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #1a5fb4;
}

.input-phone-number {
    border-color: #1a5fb4 !important;
    border-style: solid !important;
    border-width: 4px !important;

}
.contact-input-form input{
    border-color: #1a5fb4;
    border-style: solid;
    border-width: 4px;

}

.textarea {
    border-color: #1a5fb4;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    height: 100px;
}

.pink-dropdown-item {
    border-color: #1a5fb4;
    background-color: #1a5fb4;
    color: white;
}

.left {
    font-size: 18px;
    color: #123e74;
}

.middle {
    /* background:  linear-gradient(to bottom, #1a5fb4, #78a9e9 ); */
    background: linear-gradient(to right, #123b6a, #165baa);
    font-size: 18px;
    color: #ffffff;
    padding-top: 30px;
    border-radius: 15px;
}

.right {
    background-color: #123e74;
    font-size: 18px;
    color: white;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.pink-button {
    border-color: #1a5fb4 !important;
    border-style: solid;
    border-width: 4px;
    background-color: #1a5fb4 !important;
    color: white;
    border-radius: 10px;
}

.pink-button:hover{
    background-color: #8ecdf2 !important;
    border-color: #8ecdf2 !important;
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
}

.search {
    border-color: rgb(105, 235, 255);
    border-radius: 15px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* Center the map */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.pop-background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 3;
}
.popup-success {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px #ccc;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 200px;
    transform-origin: center;
    animation: scale 0.5s ease-in-out;
}
.popup-success h2{
    color: #2ECC71;

}

@keyframes scale {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
.exit-none{
    display: none;
}
.exit{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}
.container-change-password-notification{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}
.container-error-notification{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 11;
}
.showAlert{
    display: block;
}
.container-change-password-notification,
.status-error{
    background: white;
    border: 2px solid #2d63c2;
    border-radius: 20px;
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 20%;
    overflow: hidden;
}
.container-change-password-notification p{
    position: absolute;
    top: 28%;
    left: 28%;
    color: green;
}
.status-error p{
    position: absolute;
    top: 28%;
    left: 28%;
    color: red;
}
.exit-alert-btn{
    /* display: flex;
    justify-content: flex-end; */
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 12;
    /* font-size: 20px;
    color: #2d63c2;
    cursor: pointer; */
}
.exit-alert-btn i{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #2d63c2;
    cursor: pointer;
}
.img-alert{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35%;
}
