.fb-detail-title {
    background: linear-gradient(to right, #4eb1ea, #0189d8);
    color: aliceblue;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.fb__sensitive{
    text-align: center;
}

a {
    white-space: nowrap;
}
