.container-fluid-feedback {
    text-align: center;
    background: linear-gradient(to right, #8ecdf2, #1aa1ef);
    width: 40%;
    margin: 200px auto;
    padding-bottom: 50px;
    border-radius: 10px;
}

.feedback-h1 {
    color: aliceblue;
    padding-top: 30px;
    font-size: 3vw;
    font-weight: 600;
}

.feedback-logo {
    width: 60%;
    object-fit: cover;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
}

.fb-textarea {
    margin-bottom: 30px;
}

.fb-btn .fb-setinput {
    width: 40%;
    border-radius: 20px;
    background: linear-gradient(to left, #74cbfd, #0890df);
    border: 1px solid white;
}

/* Star Rating */
.feedback-alert {
    margin-top: 60px;
}

.feedback {
    text-align: center;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
}

.star {
    font-size: 4vh;
    color: #cccc;
}

.star:hover {
    font-size: 4vh;
    cursor: pointer;
}

#output {
    font-size: 3vh;
    color: #cccc;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

/* End of Star Rating */
