.container-fluid-feedback {
    text-align: center;
    background: linear-gradient(to right ,#8ecdf2, #1aa1ef);
    width: 40%;
    margin: 200px auto;
    padding-bottom: 50px;
    border-radius: 10px;
}

.feedback-h1 {
    color: white;
    padding-top: 30px;
    font-size: 3vw;
    font-weight: 600;
}

.feedback-logo {
    width: 60%;
    object-fit: cover;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
}

.fb-textarea {
    margin-bottom: 30px;
}

.project .setinput {
    width: 40%;
    border-radius: 20px;
    background: linear-gradient(to left, #74cbfd, #0890df);
    border: 1px solid white;
}

/* rating */
.rating-css div {
    color: #ffe400;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    font-size: 20px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #d9d9d9;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* End of Star Rating */