.sensitive-detail {
    margin-bottom: 100px;
}

.btn_sensitive_create {
    margin: 10px;
    text-align: center;
}

.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: cornflowerblue;
    text-align: center;
}
