.textcard {
    bottom: 0;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.textcard2 {
    font-weight: 700;
}

.project-table {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 80px;
}

.project-table-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgb(79, 195, 247);
    background: linear-gradient(
        90deg,
        rgba(79, 195, 247, 1) 47%,
        rgba(2, 136, 209, 1) 58%
    );
    border-radius: 10px;
}

.project-table-head p {
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
}

.input-search {
    border-style: none;
    /* background-color: whitesmoke; */
    width: 28%;
    border-radius: 10px;
    text-indent: 20px;
}

.btn-search {
    background: none;
    border-style: none;
    color: cornflowerblue;
    position: absolute;
    top: 14px;
    right: 25px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .textcard2 {
        position: absolute;
        font-weight: 700;
        left: 100px;
        top: 20px;
    }

    .textcard {
        position: absolute;
        left: 100px;
        top: 45px;
    }
}

.chart-dashboard {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
    margin-top: 15px;
}
.chart-value {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: 10px;
    color: #388e3c;
    font-weight: 600;
    font-size: 12px;
    width: 60px;
    text-align: center;
    height: 20px;
    border-radius: 20px;
    background-color: #a5d6a7;
    width: 60px;
}
.bigchart {
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: transparent;
    border-radius: 20px;
}

.flexbigchart {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.textbigchart {
    margin-left: 10px;
    font-size: 20px;
    color: cornflowerblue;
    font-weight: 600;
}

.selectbigchart {
    width: 30%;
}

.selectbigchart select {
    width: 100%;
}

.bigchart-show {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px #ccc;
    border: 3px solid cornflowerblue;
}

.dashboard__searchbar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.dashboard__searchbar input {
    width: 40%;
    outline: none;
    border-radius: 10px;
    border-style: solid;
    border-color: cornflowerblue;
    padding: 5px 40px 5px 20px;
}

input:focus {
    outline: none;
    border: solid 2px cornflowerblue;
    box-shadow: 20px 20px 20px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px cornflowerblue;
}
