.search input {
    border: solid 1px #ccc;
    border-radius: 5px;
    text-indent: 20px;
    padding: 5px;
}

input:focus {
    outline: none;
    border-color: #ccc;
    border: solid 2px #ccc;
    box-shadow: 20px 20px 20px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 10px 10px 10px #ccc;
}


.btn-search {
    background: #0275d8;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
    color: #fff;
    font-weight: 600;
}

.btn-search span {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .btnsearch {
        margin-top: 20px;
        margin-bottom: 50px;
        padding-left: 25px;
        left: 0;
    }

    .row-rs {
        margin-top: 50px;
    }
}

@media screen and (max-width: 991px) {
    .btnsearch {
        margin-top: 20px;
        padding-left: 5px;
        left: 0;
    }

    .btn-search {
        width: 100%;
    }

    .row-rs {
        margin-top: 50px;
    }
}

/* .form-table{
    width: auto;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
} */
/* table tr{
    text-align: center;
} */

.table>:not(caption)>*>* {
    padding: 1.5rem 0.5rem;
    transform: translateY(10%);
    vertical-align: middle;

}

/* searchinput */
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 10px;
    /* Điều chỉnh khoảng cách từ biểu tượng đến lề trái của container */
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    /* Màu của biểu tượng */
}

.change-status {
    border: none;
}
