.pj__description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1;
    width: 120px;
    text-overflow: ellipsis;
}

.news__description{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1;
    width: 300px;
    text-overflow: ellipsis;
}

.status__project{
    width: 80px;
}
