body {
	background: #eee;
}

#side_nav {
	background: #000;
	min-width: 250px;
	max-width: 250px;
	transition: all 0.3s;
}

.content {
	min-height: 100vh;
	width: 100%;
}

hr.h-color {
	background: #eee;
}

.sidebar li:hover {
	color: black;
	border-radius: 8px;
}

.sidebar li:hover {
	background-color: #fff;
}


.sidebar li a {
	color: #fff;
}

.sidebar li a:hover {
	color: black;

}

@media(max-width: 767px) {
	#side_nav {
		margin-left: -250px;
		position: absolute;
		min-height: 100vh;
		z-index: 1;

	}

	#side_nav.active {
		margin-left: 0;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer {
	background-color: #151515;
	padding: 80px 0;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}

}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}

	.dropdownmenu-profile {
		right: -150px !important;
	}
}

.dropdown-profile {
	position: relative;
	display: inline-block;

}

.dropdownmenu-profile {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
	right: 20px;
	display: none;
	background: rgb(85, 247, 79);
	background: linear-gradient(180deg, rgba(85, 247, 79, 1) 30%, rgba(2, 209, 120, 1) 86%);
	animation: transform 0.3s ease-in-out;
}

@keyframes transform {
	0% {
		transform: scale(0.2);
	}

	100% {
		transform: scale(1);

	}
}


.dropdownitem-profile {
	display: block;
	padding: 8px 0;
	text-decoration: none;
	color: #333;
}

.active-profile-dropdown {
	display: block;
}