
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
#side_nav {
    position: fixed;
    background: #000;
    width: 220px;
    height: 100vh;
    transition: all 0.3s;
    z-index: 5;
    overflow-y: auto;
}

#side_nav::-webkit-scrollbar {
    width: 3px;
}

#side_nav::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

#side_nav::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.dashboard-content {
    margin-left: 210px;
}

.content {
    width: 100%;

}

.show-menu::-webkit-scrollbar {
    width: 3px;
}

.show-menu::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.show-menu::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.ul__sidebar li:hover{
    background-color: #fff;
}
.ul__sidebar li a:hover{
    color: #000 ;

}

hr.h-color {
    background: #eee;
}

/* .sidebar li:hover {
	color: black;
	border-radius: 8px;
} */

/* .sidebar li:hover {
	background-color: #fff;
} */

.sidebar .sider-dropdown {
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
    color: #fff;
}

.sider-dropdown-menu {
    width: 100%;
    height: 0;
    background-color: black;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    position: relative;

}

.show-menu {
    height: 40vh;
    overflow-y: scroll;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.siderbar-item {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    line-height: 0px;
    padding-top: 20px;
}

.siderbar-item i {
    margin-right: 10px;
}

.sidebar li a {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}

/* .sidebar li a:hover {
	color: black;

} */

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        height: 100vh;
    }

    #side_nav.active {
        margin-left: 0;
    }

    .dashboard-content {
        margin-left: 0;
    }

    
}



.footer{
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.footer-container{
    margin-left: 200px;
}
.footer-text {
    
    text-align: center;
    color: #fff;
    font-size: 20px;
}


@media(max-width: 767px) {}

@media(max-width: 574px) {}

.nav-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}